.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font: var(--font-l);
}

body {
  font: var(--font-m);
  color: var(--font-color);
  background-color: var(--background-color);
}

.app {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  overflow: hidden;
}

.content {
  flex: 1;
  height: 0;
}

.disabled-transitions,
.disabled-transitions * {
  transition: none !important;
}
