:root {
  --font-family: "Inter", sans-serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family);

  --input-height: 30px;
  --button-height: 30px;
  --border-radius: 5px;

  --navbar-height: 50px;

  --transition-duration: 0.2s;
}