.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  height: var(--navbar-height);
  padding-inline: 20px;
  background-color: var(--element-color);
}

.navbarLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.navbarLogo span {
  font-size: 16px;
  font-weight: 600;
}

.navbarActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}